
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/*.xml
Fondamenti_di_programmazione/.idea/**
Fondamenti_di_programmazione/esercizi_2018/__pycache__/**
Fondamenti_di_programmazione/homework2018/homework01/__pycache__/**

homework2018/homework01/__pycache__/*.pyc